.experienceContainer{
    display: grid;
    border: solid white;
    margin-left: 8px;
    margin-right: 3px;
    
}
.experienceTop{
    color: white;
    display: grid;
    place-items: center;
    margin-bottom: 10px;
    
}

.experienceHeadline{
font-size: 40px;
padding-bottom: 5px;
}

.experienceParagraph{
    color: rgb(165, 160, 160);
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}

.experienceBottom{
    color: white;
}

.experienceSpan{
    font-size: 15px;
    color: rgb(165, 160, 160);
    text-align: justify;
}
