/* Navbar.css */

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding:10px;
     /* Add position relative for pseudo-element positioning */
  }
  
  .brandLink {
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: white;
  }
  
  .nav-left {
    flex: 4;
    color: white;
    font-weight: bolder;
    font-size: 50px;
  }
  
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 12;
    gap: 15px;
    color: white;
    font-size: 20px;
  }
  
  .nav-center div {
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-center div:hover::before {
    width: 100%;
  }
  
  .nav-center div::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white; /* Change to white */
    transition: width 0.3s ease-in-out;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    flex: 3;
  }
  
  .login-button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .signup-button {
    background-color: rgb(62, 226, 62);
    border: none;
    border-radius: 20px;
    font-size: 15px;
    /* padding: 5px; */
    cursor: pointer;
    height: 47px;
    width: 106px;
    color: black;
}
  
  .profileImg {
    height: 60px;
    width: 60px;
    object-fit: contain;
    border-radius: 100%;
  }
  
  .nav-right-profileSection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
@media (max-width: 768px) {
  .nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }
    .nav-left {
        font-size: 70px; /* Adjust font size for larger screens */
        margin-left: 50px;
        display: flex;
        flex: 6;
    }

    .nav-center {
        /* font-size: 24px; Adjust font size for larger screens */
        visibility: hidden;
        /* gap: 20px; Increase gap between items for larger screens */
    }


    .nav-center div {
        font-size: 22px; 
        /* Adjust font size for larger screens */
        visibility: hidden;
    }

    .nav-right {
        gap: 15px; /* Increase gap between items for larger screens */
        display: flex;
        flex: 6;
    }

    .signup-button {
        font-size: 20px; /* Adjust font size for larger screens */
        height: 50px; /* Adjust height for larger screens */
        width: 120px; /* Adjust width for larger screens */
    }

    .profileImg {
        height: 100px; /* Adjust height for larger screens */
        width: 100px; /* Adjust width for larger screens */
    }
}

/* Medium screens */
